<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mapsproposaltest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mapsproposaltest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MapsProposalTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MapsProposalTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MapsProposalContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:e4i270evp0.database.windows.net,1433;Initial Catalog=MapsProAeLC6OpfE;User ID=Jeremy.Bennett@e4i270evp0;Password=Jry748bnt" Name="Data Source=tcp:e4i270evp0.database.windows.net,1433;Initial Catalog=MapsProAeLC6OpfE;User Id=Jeremy.Bennett@e4i270evp0;Password=Jry748bnt" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MapsProposal.DAL.MapsProposalContext, MapsProposal" MigrationConfiguration="MapsProposal.Migrations.Configuration, MapsProposal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MapsProposalContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e4i270evp0.database.windows.net,1433;Initial Catalog=MapsProAeLC6OpfE;User Id=Jeremy.Bennett@e4i270evp0;Password=Jry748bnt</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>