<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://metlocationtracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>metlocationtracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>METLocationTracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$METLocationTracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MapsProposalContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mruhwqus4m.database.windows.net,1433;Initial Catalog=METLocaAiObsTa5Q;User ID=katieanneking@mruhwqus4m;Password=Kat1eGr1" Name="Data Source=tcp:mruhwqus4m.database.windows.net,1433;Initial Catalog=METLocaAiObsTa5Q;User Id=katieanneking@mruhwqus4m;Password=Kat1eGr1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MapsProposal.DAL.MapsProposalContext, MapsProposal" MigrationConfiguration="MapsProposal.Migrations.Configuration, MapsProposal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MapsProposalContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mruhwqus4m.database.windows.net,1433;Initial Catalog=METLocaAiObsTa5Q;User Id=katieanneking@mruhwqus4m;Password=Kat1eGr1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>